version: 2.1

workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            branches:
              only:
                - main
      - deploy:
          filters:
            branches:
              only:
                - main
          requires:
            - build

# Define the jobs we want to run for this project
jobs:
  build:
    working_directory: ~/SimpleApplicationCA
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - run:
          name: update-npm
          command: "sudo npm install -g npm@8.1.4"
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: install-npm
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
deploy:
  docker:
    - image: circleci/node:latest
  steps:
    - run:
        name: deploy-ExampleApplication1
        command: ssh -0 StrictHostKeyChecking=no $EC2_DEVOPS_CA@$EC2_PUBLIC_DNS "rm -rf SimpleApplicationCA/;git clone https://github.com/DevOps-CA-1-2023/DevOpsSimpleApplicationCA.git; source SimpleApplicationCA/deploy.sh"
